.nav_sep {
	margin-top: 100px;
}

body {
	min-width: 300px;
}

.txtEstado {
	font-size: 25px;
}


.imgSortHeader {
	margin-left: 2px;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}

.imgSortHeader:hover {
	margin-left: 0px;
	margin-right: 0px;
	width: 20px;
	height: 20px;
	transition-duration: 200ms;
}

.imgEditRow {
	margin-left: 2px;
	margin-right: 2px;
	color: rgb(64, 64, 64);
}

.imgDeleteRow {
	margin-left: 2px;
	margin-right: 2px;
	color: rgb(64, 64, 64);
}

.imgEditRow:hover, .imgDeleteRow:hover{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	width: 20px;
	height: 20px;
	margin-left: 0px;
	margin-right: 0px;
	transition-duration: 200ms;
	color: blue;
}

.btnTable {
	margin-left: 3px;
	padding-top: 1px !important; 
	padding-bottom: 1px !important;
	padding-left: 0.2rem !important;
	padding-right: 0.2rem !important;
}

/* Sobreescribir los valores por defecto de la clase tootip para que se vea según la clase Card de bootstrap*/
.google-visualization-tooltip {
	max-width: 300px !important;
	border: none !important;
	background-color: transparent !important;
	border-radius: 0px !important;
	font-size: 14px !important;
	margin-left: -80px !important;	/* Para evitar que el tooltip se dibuje fuera de la pantalla*/
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-ms-border-radius: 0px !important;
	-o-border-radius: 0px !important;
}


@media (max-width: 500px) {
	.txtEstado {
		font-family: 'Ubuntu', sans-serif;
		font-size: 18px;
	}
	.google-visualization-tooltip {
		max-width: 200px !important;
		font-size: 10px !important;
		margin-left: -20px !important;
	}
}


.updateIcon {
	margin: 4px;
}

.updateIcon:hover {
	margin: 0px;
	width: 32px;
	height: 32px;
	transition-duration: 200ms;
}
