.nav_sep {
	margin-top: 100px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	min-width: 300px;
}

.txtEstado {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

.selectedRow {
	background-color: lightskyblue;
}

.imgSortHeader {
	padding-left: 10px;
}

.btnTable {
	margin-left: 3px;
	padding-top: 1px !important; 
	padding-bottom: 1px !important;
	padding-left: 0.2rem !important;
	padding-right: 0.2rem !important;
}

@media (max-width: 500px) {
	.txtEstado {
		font-family: 'Ubuntu', sans-serif;
		font-size: 18px;
	}
}